{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BT Real Estate {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Custom -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Lightbox  -->
    <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">
</head>
<body>
<!-- topbar -->
{% include 'partials/_topbar.html' %}
<!--Navbar -->
{% include 'partials/_navbar.html' %}
<!--Main content -->
{% block content %} {% endblock %}
<!--Footer -->
{% include 'partials/_footer.html' %}

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/lightbox.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>